<form [formGroup]="emailForm">
  <mat-card>
    <mat-card-content>
      <div formGroupName="header">
        <mat-form-field>
          <mat-label>From:</mat-label>
          <input *ngIf="!email" formControlName="from" matInput>
          <input *ngIf="email" disabled matInput value="{{email.header.from}}">
        </mat-form-field>

        <mat-form-field>
          <mat-label>To:</mat-label>
          <input formControlName="to" matInput>
        </mat-form-field>

        <span class="spacer"></span>
        <button (click)="exit()" aria-label="discard button"
                mat-icon-button matTooltip="Discard email">
          <mat-icon>cancel</mat-icon>
        </button>

      </div>
      <div>
        <mat-form-field formGroupName="header">
          <mat-label>Subject:</mat-label>
          <input formControlName="subject" matInput>
        </mat-form-field>

        <span class="spacer"></span>

        <mat-form-field>
          <mat-label>New status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="OPEN">OPEN</mat-option>
            <mat-option value="RESOLVED">RESOLVED</mat-option>
            <mat-option value="CLARIFICATION">CLARIFICATION</mat-option>
          </mat-select>
        </mat-form-field>

        <button [disabled]="!emailForm.valid || (loading$ | async)" aria-label="send button"
                mat-icon-button matTooltip="Send email"
                (click)="send()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      <ng-container formGroupName="content">
        <quill-editor [modules]="quillModules" id="quill"
                      [styles]="{minHeight: '15em'}"
                      formControlName="body"></quill-editor>
      </ng-container>
    </mat-card-content>
  </mat-card>

</form>
