<mat-card>
  <mat-card-content>
    <form [formGroup]="assignForm">
      <div>
        <mat-form-field>
          <input [matAutocomplete]="auto"
                 aria-label="User input"
                 formControlName="user"
                 matInput
                 placeholder="Assign this thread to"
                 type="text">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername" autoActiveFirstOption>
            <mat-option *ngFor="let user of availableUsers" [value]="user">
              {{user.username}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <button (click)="exit()" aria-label="discard button"
                mat-icon-button matTooltip="Cancel assignment">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div>
        <button (click)="assign()"
                [disabled]="!assignForm.valid" aria-label="assign"
                mat-icon-button matTooltip="Assign email thread">
          Assign
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
