<mat-card>
  <form [formGroup]="assignForm">
    <mat-card-header>
      <button (click)="exit()" aria-label="discard button" mat-card-avatar
              mat-icon-button matTooltip="Cancel">
        <mat-icon>cancel</mat-icon>
      </button>
      <mat-form-field>
        <input [matAutocomplete]="auto"
               aria-label="User input"
               formControlName="user"
               matInput
               placeholder="Assign this thread to"
               type="text">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername" autoActiveFirstOption>
          <mat-option *ngFor="let user of availableUsers" [value]="user">
            {{user.username}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field *ngIf="statusEditable">
        <mat-label>Change status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="OPEN">OPEN</mat-option>
          <mat-option value="RESOLVED">RESOLVED</mat-option>
          <mat-option value="CLARIFICATION">CLARIFICATION</mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="save()" [disabled]="!assignForm.valid"
              aria-label="save" color="primary"
              mat-icon-button matTooltip="Save email thread">
        <mat-icon>done</mat-icon>
      </button>

    </mat-card-header>

  </form>
</mat-card>
