<mat-card>
  <form [formGroup]="assignForm">
    <mat-card-header>
      <button (click)="exit()" aria-label="discard button" mat-card-avatar
              mat-icon-button matTooltip="Cancel">
        <mat-icon>cancel</mat-icon>
      </button>

      <ng-container formGroupName="userAndQueue">
        <mat-form-field>
          <mat-label>Change queue</mat-label>
          <mat-select [disabled]="!admin" formControlName="queueId">
            <mat-option *ngFor="let queue of allQueues" [value]="queue.id">{{queue.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <mat-form-field>
            <input [matAutocomplete]="auto"
                   aria-label="User input"
                   formControlName="user"
                   matInput
                   placeholder="Assign this thread to"
                   type="text">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername" autoActiveFirstOption>
              <mat-option *ngFor="let user of availableUsers" [value]="user">
                {{user.username}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-error *ngIf="userAndQueue.errors?.userNotFromTheList && (userAndQueue.touched || userAndQueue.dirty)">
            You can only select a user from the list
          </mat-error>
        </div>
      </ng-container>

      <mat-form-field>
        <mat-label>Change status</mat-label>
        <mat-select formControlName="status">
          <mat-option value="OPEN">open</mat-option>
          <mat-option value="RESOLVED">resolved</mat-option>
          <mat-option value="CLARIFICATION">clarification</mat-option>
          <mat-option value="CHANGE_QUEUE">change queue</mat-option>
        </mat-select>
      </mat-form-field>

      <button (click)="save()" [disabled]="!assignForm.valid"
              aria-label="save" color="primary"
              mat-icon-button matTooltip="Save email thread">
        <mat-icon>done</mat-icon>
      </button>

    </mat-card-header>

  </form>
</mat-card>
