<mat-card *ngIf="show && !(loading$ | async)">
  <mat-card-header>
    <mat-card-title>History of</mat-card-title>
    <mat-card-subtitle *ngIf="dataSource">{{dataSource.data[0].description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input #input (keyup)="applyFilter($event)" matInput>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table [dataSource]="dataSource" mat-table matSort>

        <ng-container matColumnDef="id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Ordinal</th>
          <td *matCellDef="let row" mat-cell> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="queue">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Queue</th>
          <td *matCellDef="let row" mat-cell> {{row.queue}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> User</th>
          <td *matCellDef="let row" mat-cell> {{row.user}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> State</th>
          <td *matCellDef="let row" mat-cell> {{row.type | enversRevtype}}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th *matHeaderCellDef mat-header-cell mat-sort-header> Status</th>
          <td *matCellDef="let row" mat-cell> {{row.status | lowercase}} </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        <tr *matNoDataRow class="mat-row">
          <td class="mat-cell" colspan="4">No thread matching the filter "{{input.value}}"</td>
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[15, 25, 50, 100]"></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
