<div id="flex-container">
  <div [ngStyle]="{ height: flexContainerHeight }" class="emails scrollable">
    <emailthread [emailthread]="emailThread" picked="true" skipLocationChange="true"></emailthread>
  </div>

  <div [ngStyle]="{ height: flexContainerHeight }" class="emailTexts scrollable">
    <mat-card>
      <mat-card-content>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Assign this thread to</mat-label>
            <mat-select [(value)]="userId">
              <mat-option value="userid">username</mat-option>
            </mat-select>
          </mat-form-field>
          <button (click)="exit()" aria-label="discard button"
                  mat-icon-button matTooltip="Cancel assignment">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
        <div>
          <button [disabled]="!userId" aria-label="assign"
                  mat-icon-button matTooltip="Assign email thread">
            Assign
          </button>
        </div>
      </mat-card-content>
    </mat-card>

    <ng-container *ngIf="email">
      <email-header [email]="email"></email-header>
      <email-reader [email]="email"></email-reader>
    </ng-container>
  </div>

</div>





