<div id="flex-container">
  <div [ngStyle]="{ height: flexContainerHeight }" class="emails scrollable">
    <emailThread [emailThread]="emailThread" picked="true" skipLocationChange="true"></emailThread>
  </div>

  <div [ngStyle]="{ height: flexContainerHeight }" class="emailTexts scrollable">
    <mat-card>
      <mat-card-content>

        <form [formGroup]="assignForm">

          <div>

            <mat-form-field>
              <input [matAutocomplete]="auto"
                     aria-label="User input"
                     formControlName="user"
                     matInput
                     placeholder="Assign this thread to"
                     type="text">
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="getUsername" autoActiveFirstOption>
                <mat-option *ngFor="let user of availableUsers" [value]="user">
                  {{user.username}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>


            <!--          <mat-form-field appearance="fill">-->
            <!--            <mat-label>Assign this thread to</mat-label>-->
            <!--            <mat-select [(value)]="userId">-->
            <!--              <mat-option value="userid">username</mat-option>-->
            <!--            </mat-select>-->
            <!--          </mat-form-field>-->
            <button (click)="exit()" aria-label="discard button"
                    mat-icon-button matTooltip="Cancel assignment">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>

          <div>
            <button (click)="assign()"
                    [disabled]="!assignForm.valid" aria-label="assign"
                    mat-icon-button matTooltip="Assign email thread">
              Assign
            </button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>

    <ng-container *ngIf="email">
      <email-header [email]="email"></email-header>
      <email-reader [email]="email"></email-reader>
    </ng-container>
  </div>

</div>





