<div>
  <mat-card (click)="pick()">
    <mat-card-header>
      <div mat-card-avatar>
        <button (click)="edit($event)" *ngIf="editable"
                aria-label="assign to someone else" mat-icon-button
                mat-icon-button matTooltip="Assign this thread">
          <mat-icon>edit</mat-icon>
        </button>
        {{unread}}/{{allEmail}}
      </div>
      <mat-card-title *ngIf="emailThread.description">{{emailThread.description}}</mat-card-title>
      <mat-card-subtitle>
        <div>{{emailThread.status}}</div>
        <div>User: {{emailThread.user?.username || "unassigned"}}</div>
        <div>Last email: {{lastMail | date:'medium'}}</div>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <ng-container *ngIf="picked || showMiniatures">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <ul>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <email-miniature [email]="node.email" [readEmailsWhenClicked]="readEmailsWhenClicked"
                             [skipLocationChange]="skipLocationChange">
            </email-miniature>
            <ul>
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </ul>
    </mat-tree>
  </ng-container>

</div>
