<div id="flex-container">
  <div [ngStyle]="{ height: flexContainerHeight }" class="emails scrollable">
    <ng-container *ngIf="threads">
      <div *ngFor="let thread of threads" class="emailThread">
        <emailThread [assignable]="assignable" [emailThread]="thread"
                     [readEmailsWhenClicked]="markAsRead"></emailThread>
      </div>
    </ng-container>
  </div>

  <div [ngStyle]="{ height: flexContainerHeight }" class="emailTexts scrollable">
    <ng-container *ngIf="email">
      <email-header [email]="email" [reply]="reply" [unread]="markAsRead"></email-header>
      <email-reader [email]="email"></email-reader>
    </ng-container>
  </div>

</div>
