<div id="flex-container">
  <div [ngStyle]="{ height: flexContainerHeight }" class="emails scrollable">
    <ng-container *ngIf="threads">
      <div *ngFor="let thread of threads" class="emailthread">
        <emailthread (click)="emailThreadPicked(thread.id)"
                     [emailthread]="thread"
                     [picked]="thread.id===emailThreadId"
                     [readEmailsWhenClicked]="markAsRead"
        ></emailthread>
      </div>
    </ng-container>
  </div>

  <div [ngStyle]="{ height: flexContainerHeight }" class="emailTexts scrollable">
    <ng-container *ngIf="email">
      <email-header [email]="email" [reply]="reply" [unread]="markAsRead"></email-header>
      <email-reader [email]="email"></email-reader>
    </ng-container>
  </div>

</div>
