<mat-form-field appearance="fill">
  <mat-label>Search</mat-label>
  <mat-select (selectionChange)="assignedToMeWith($event.value)" [(value)]="selectedStatus">
    <mat-option value="OPEN">OPEN</mat-option>
    <mat-option value="RESOLVED">RESOLVED</mat-option>
    <mat-option value="CLARIFICATION">CLARIFICATION</mat-option>
  </mat-select>
</mat-form-field>
<button (click)="assignedToMeWith(selectedStatus)" aria-label="Refresh button" mat-icon-button
        matTooltip="Refresh">
  <mat-icon>refresh</mat-icon>
</button>


<div class="flex-container">
  <div class="emails">
    <ng-container *ngIf="assignedThreads">
      <div *ngFor="let thread of assignedThreads" class="emailthread">
        <emailthread (emailPicked)="emailToDisplay=$event" [emailthread]="thread"
                     [showMiniatures]="numberOfAssignedThreads===1"></emailthread>
      </div>
    </ng-container>
  </div>

  <div class="emailTexts">
    <ng-container *ngIf="emailToDisplay">
      <email-header [email]="emailToDisplay"></email-header>
      <email-reader [email]="emailToDisplay"></email-reader>
    </ng-container>
  </div>

</div>
