<mat-card>
  <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>From:</mat-label>
        <input disabled matInput value="{{email.header.from}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To:</mat-label>
        <input disabled matInput value="{{email.header.to}}">
      </mat-form-field>

      <span class="spacer"></span>

      <mat-form-field appearance="fill">
        <mat-label *ngIf="email.direction==='IN'">Received:</mat-label>
        <mat-label *ngIf="email.direction==='OUT'">Sent:</mat-label>
        <input disabled matInput value="{{email.processed  | date:'medium'}}">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Subject:</mat-label>
        <input disabled matInput value="{{email.header.subject}}">
      </mat-form-field>

      <span class="spacer"></span>

      <button [disabled]="!email.read" aria-label="mark unread button" mat-icon-button
              matTooltip="Mark email as unread">
        <mat-icon>markunread</mat-icon>
      </button>
      <button [disabled]="email.direction==='OUT'" [routerLink]="'/replyTo/'+email.id"
              aria-label="Reply button"
              color="primary"
              mat-icon-button matTooltip="Reply">
        <mat-icon>reply</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>



