<div>
  <mat-card (click)="pick()">
    <mat-card-header>
      <div mat-card-avatar>
        <button aria-label="assign to someone else" mat-icon-button
                (click)="assign($event)" matTooltip="Assign this thread">
          <mat-icon>assignment_ind</mat-icon>
        </button>
      </div>
      <mat-card-title>Unread: {{unreadRatio}}</mat-card-title>
      <mat-card-subtitle>Last one: {{lastMail | date:'medium'}}</mat-card-subtitle>
      <mat-card-subtitle>Status: {{emailthread.status}}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>

  <ng-container *ngIf="showMiniatures">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <ul>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <li>
            <email-miniature
              [email]="node.email" [readEmailsWhenClicked]="readEmailsWhenClicked">
            </email-miniature>
            <ul>
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </ul>
    </mat-tree>
  </ng-container>

</div>
