<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>GDF Helpdesk</h1>
      <span class="spacer"></span>
      <login></login>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav class="hide-on-small-screens" mode="side" opened>
      <mat-nav-list *ngIf="loggedIn">
        <ng-container *ngIf="hasQueue">
          <a [routerLink]="'/email/reply'" mat-list-item> Reply </a>
          <a [routerLink]="'/email-thread/edit'" mat-list-item> Edit threads </a>
          <a *ngIf="admin" [routerLink]="'/email-thread/change-queue'" mat-list-item> Change queue </a>
          <a *ngIf="admin" [routerLink]="'/email-thread/unassigned'" mat-list-item> Unassigned </a>
        </ng-container>
        <a *ngIf="!hasQueue || admin" [routerLink]="'/choose-queue'" mat-list-item> Choose queue </a>
      </mat-nav-list>
      <mat-nav-list [ngClass]="{bottom: loggedIn}">
        <a href="http://localhost:8082/" mat-list-item> Login service </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
