<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>GDF Helpdesk</h1>
      <span class="spacer"></span>
      <login></login>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav class="hide-on-small-screens" mode="side" opened>
      <mat-nav-list *ngIf="loggedIn">
        <ng-container *ngIf="hasQueue">
          <a [routerLink]="'/email/reply'" mat-list-item> Reply </a>
          <a [routerLink]="'/email-thread/edit'" mat-list-item> Edit threads </a>
          <a [routerLink]="'/email-thread/history'" mat-list-item> History </a>
          <a *ngIf="admin" [routerLink]="'/email-thread/change-queue'" mat-list-item> Change queue </a>
          <a *ngIf="admin" [routerLink]="'/email-thread/unassigned'" mat-list-item> Unassigned </a>
        </ng-container>
        <a *ngIf="!hasQueue || admin" [routerLink]="'/choose-queue'" mat-list-item> Choose queue </a>
      </mat-nav-list>
      <mat-nav-list [ngClass]="{bottom: loggedIn}">
        <a href="http://172.17.0.1:8082/" mat-list-item> Login service </a>
        <a
          href="http://172.17.0.1:3000/d/spring_boot_21/spring-boot-2-1-statistics?orgId=1&var-application=HELPDESK-BACKEND&var-instance=18b5b77178fd:8080&var-hikaricp=HikariPool-2&var-memory_pool_heap=All&var-memory_pool_nonheap=All&from=now-15m&to=now"
          mat-list-item> Spring metrics </a>
        <a href="http://172.17.0.1:3000/d/8uiiVf2Gz/micrometer?orgId=1&refresh=30s&from=now-15m&to=now" mat-list-item>
          Backend metrics </a>
        <a href="http://172.17.0.1:9093/#/cluster/default/topic/n/email.in.v1.pub/data/topic" mat-list-item> Kafka
          messages </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
